
{% extends "layout.html" %}
{% block title %}Generator{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/generator-styles.css" type="text/css">
     <h1 class="page-title">Let's Plan Your Fit!</h1>
    <!-- we needed to space out the space below the title quickly -->
    <br><br><br><br><br>
     <div class="location-inputs">
        <div class="current-location-button">
            <button class="curr-loc-result button" type="submit" id="current-location-button">Current location</button>
        </div>
        <div class="location-search-bar">
            <input type="text" placeholder="Enter City" id="location-input">
            <button class="search-result button" type="submit" id="search-button">Search</button>
        </div>
    </div>
    <script>
        document.getElementById("current-location-button").addEventListener("click", getCurrentLocation);
        document.getElementById("search-button").addEventListener("click", searchLocation);
         function getCurrentLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
         function showPosition(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            sessionStorage.setItem("latitude", latitude);
            sessionStorage.setItem("longitude", longitude);
            // Redirect to the new page
            window.location.href = "/style";
        }
         function searchLocation() {
            const locationInput = document.getElementById("location-input").value;
            sessionStorage.setItem("city", locationInput);
            window.location.href = "/style";
        }
    </script>
{% endblock %}