{% extends "layout.html" %} {% block title %}Fits in Advance{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/home-styles.css">
<div class="home-background">
    <br/>
    <h1 class="home-title" id="space-out2"> F I A</h1>
    <p class="home-title" id="space-out"> FITS IN ADVANCE</p>
    <br/> 

</div>

<div id="container">

    <img src="static/home.png" alt="" id="home"/>


    <p>
        Clothes can determine how you feel when you are adventuring the world. Let's make sure that they don't limit you. 
    </p>

    <p>
        Fashion Generator ensures that your outfit never restricts your travel plans. We've combined weather forecasts with fashion trends, so you can be weather-ready and stylish no matter where you are, or where you're headed to.    </p>   
    
    <div class="listing">
        <p> (1) pick your style </p>
        <p> (2) tell us where you're going </p>
        <p> (3) find drip </p>
    </div>    
    <p>
        We have also added the ability for users to make an account so they can save their favorite outfit and item recommendations, in case they forget!
    </p>

</div>

<br/>

    <div class="center"><p> Let's get you looking good! </p>    </div>

<br/>

<button id="myButton" class="button" role="button">Get Started</button><script>
    document.getElementById("myButton").addEventListener("click", function() {
        window.location.href = "/generator";
    });

 </script>
{% endblock %}