{% extends "layout.html" %}
{% block title %}femorman {% endblock %}
{% block content %}
<link rel="stylesheet" href="static/layout-styles.css" type="text/css">

    <h1>Masculine or Feminine?</h1>
    <button onclick="storeGender('masculine')">Masculine</button>
    <button onclick="storeGender('feminine')">Feminine</button>
    <button onclick="storeGender('unisex')">Unisex</button>

     <script>
        function storeGender(gender) {
            sessionStorage.setItem('gender', gender);
            window.location.href = `/results`;
        }
    </script>

{%endblock%}