{% extends "layout.html" %}
{% block title %}Style{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/style-styles.css" type="text/css">
<h1 class="home-title" id="space-out">LET'S PLAN YOUR FIA</h1>
<br><br><br><br><br><br><br>
<div class="buttons">
    <button id="myButton1" class="button" role="button" onclick="storeGender('masculine')">Masculine</button>
    <br/>
    <button id="myButton2" class="button" role="button" onclick="storeGender('feminine')">Feminine</button>
    <br/>
    <button id="myButton3" class="button" role="button" onclick="storeGender('Gender Neutral')">Unisex</button>
    <br/>
</div>

     <script>
        function storeGender(gender) {
            sessionStorage.setItem('gender', gender);
            window.location.href = `/results`;
        }
    </script>

{%endblock%}